USE [master]
GO
/****** Object:  Database [PruebaTecnica]    Script Date: 2/05/2024 5:20:14 p. m. ******/
CREATE DATABASE [PruebaTecnica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaTecnica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PruebaTecnica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaTecnica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PruebaTecnica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaTecnica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaTecnica]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 2/05/2024 5:20:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[mov_id] [int] IDENTITY(1,1) NOT NULL,
	[mov_fecha] [date] NULL,
	[pro_id] [int] NULL,
	[mov_tipo] [nvarchar](50) NOT NULL,
	[mov_cantidad] [nvarchar](50) NOT NULL,
	[mov_valor] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 2/05/2024 5:20:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[pro_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_codigo] [nvarchar](50) NOT NULL,
	[pro_nombre] [nvarchar](50) NOT NULL,
	[pro_descripcion] [nvarchar](1000) NOT NULL,
	[pro_detalle] [nvarchar](100) NOT NULL,
	[pro_presentacion] [nvarchar](100) NOT NULL,
	[pro_marca] [nvarchar](100) NOT NULL,
	[pro_proveedor] [nvarchar](100) NOT NULL,
	[pro_costocompra] [decimal](10, 2) NOT NULL,
	[pro_costoventa1] [decimal](10, 2) NOT NULL,
	[pro_costoventa2] [decimal](10, 2) NOT NULL,
	[pro_cantidad] [nvarchar](50) NOT NULL,
	[pro_canmax] [nvarchar](50) NOT NULL,
	[pro_canmini] [nvarchar](50) NOT NULL,
	[pro_activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD FOREIGN KEY([pro_id])
REFERENCES [dbo].[Producto] ([pro_id])
GO
USE [master]
GO
